{% extends 'layout.html' %}

{% block content %}
        <tr><td class="box yellow fullspanx">DELETE CHANNEL {{ channel }}</td>
		<tr><td class="box red yellow fullspanx">Are you sure you want to delete Channel {{ channel }}?</span>
        <tr><form action="{{ url_for('delete_channel') }}" method="post">
            <input type="hidden" name="channel" value="{{ channel }}">
			<td class="box red"><input class="boxless red yellow" type="submit" value="DELETE"></input>
        </form>
		<td class="box yellow"><a href="{{ url_for('select_channel') }}">CANCEL</a></td></tr>
{% endblock %}