{% extends 'layout.html' %}
{% block content %}
    <!-- Define the table structure -->
    <table class='grid' id="settings-table">
		<tr id="settings-explanation">
		
		<td class="box tall cyan firstcolumn current-time">HH:MM:SS</td>
		<td class="box tall cyan" id="settings">Channel Details</td>
		<td class="box tall cyan fourspan" id="settings-details">View and modify channel details, including a name, call letters, and unicode character as a logo</td>
	</tr>
		<tr id="header">
		
		<td class="box yellow firstcolumn">CHANNEL</td>
		<td class="box yellow" id="settings">UNICODE ICON</td>
		<td class="box yellow">CALL LETTERS</td>
		<td class="box yellow doublespan">CHANNEL NAME</td>
		<td class="box yellow"></td>
	</tr>
		{% for data in details %}
		<form action="/edit_details" method="post"><tr>
		<td class="box yellow firstcolumn">Ch. {{ data['number_int'] }}
		<input type="hidden" id="number_raw" name="number_raw" value="{{ data['number_raw'] }}"><input type="hidden" id="number_int" name="number_int" value="{{ data['number_int'] }}"></td>
		<td class="box blue" value="{{ data['icon'] }}"><input class="boxless blue" type="text" id="icon" name="icon" value="{{ data['icon'] }}">{{ data['icon'] }}</input></td>
		<td class="box blue" value="{{ data['channel_call_letters'] }}"><input class="boxless blue" type="text" maxlength="6" id="channel_call_letters" name="channel_call_letters" value="{{ data['channel_call_letters'] }}">{{ data['channel_call_letters'] }}</input></td>
		<td class="box blue doublespan"><input class="boxless blue doublespan" type="text"id="channel_name" name="channel_name" value="{{ data['channel_name'] }}">{{ data['channel_name'] }}</input></td>
		<td class="box"><button type="submit" name="action" value="save" class="boxless yellow">SAVE</button></td>
		</tr></form>
		{% endfor %}

    </table>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>	
    <script>
		var socket = io();
        // Function to get the current time rounded down to the nearest half hour
        function getCurrentTime() {
            var currentTime = new Date();
            var minutes = currentTime.getMinutes();
            var roundedMinutes = Math.round(minutes / 30) * 30;
            currentTime.setMinutes(roundedMinutes);
            return currentTime;
        }

        // Function to format time as HH:MM
        function formatTime(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
            return hours + ':' + minutes;
        }

		function toggleClass(elementId, className) {
			const element = document.getElementById(elementId);
			if (element) {
				element.classList.toggle(className);
			}
		}
		function toggleDualClass(elementId, className, elementId2, className2, inputId, newValue) {
			const element = document.getElementById(elementId);
			if (element) {
				element.classList.toggle(className);
			}
			const element2 = document.getElementById(elementId2);
			if (element2) {
				element2.classList.toggle(className2);
			}
			const inputElement = document.getElementById(inputId);
			if (inputElement) {
				inputElement.value = newValue;
			}
		}
        // Call updateScheduleTime function when the page loads
        window.onload = function() {
            updateScheduleTime();
            setInterval(updateScheduleTime, 30000); // Update every 30 seconds
        };
    </script>
	
{% endblock %}
